extends layout
block main
  div(class='demo-layout-transparent mdl-layout mdl-js-layout')
    header(class='mdl-layout__header mdl-layout__header--scroll mdl-layout__header--transparent is-casting-shadow')
      main(class='mdl-layout__content')
        div(class='mdl-layout__header-row')
          div(class='mdl-layout-spacer')
          nav(class='mdl-navigation')
            a(class='mdl-navigation__link' href='') Home
            a(class='mdl-navigation__link' href='') About
    div(class='mdl-layout__drawer')
      nav(class='mdl-navigation')
        a(class='mdl-navigation__link' href='') Home
        a(class='mdl-navigation__link' href='') About
    div(class='mdl-layout__drawer-button')
      i(class='material-icons') menu
    div(class='page-content')
  div(class='demo-blog')
    div(class='heading-section mdl-shadow--4dp')
      div(class='heading-width mdl-card mdl-cell--12-col heading-bg')
        div(class='heading-title')
          h1 E-Fever
          h5 Collaboration and Radiation over Hand-off and Refrigeration
  div(class='demo-blog')
    div(class='demo-blog__posts mdl-grid')
      if collections.posts && collections.posts.length > 0
            each post in collections.posts
              div(class='mdl-card mdl-cell mdl-cell--12-col mdl-shadow--4dp')
                div(class='mdl-card__media mdl-color-text--grey-50' style='background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url("images/'+post.coverImage+'"); background-size:cover; background-position: center;')
                  h3
                    a(href=post.path)!= post.title
                div(class='mdl-card__supporting-text mdl-color-text--grey-600')!= post.excerpt
                div(class='mdl-card__supporting-text meta mdl-color-text--grey-600')
                  div(class='avatar')
                    img(src='images/'+post.author+'.jpg')
                  div
                    strong!=post.author
                    span!=moment(post.publishDate).format("D-MMM-YYYY")
                  div(class='mdl-layout-spacer')
                  div(class='post-readmore')
                    a(href='/' + post.path)!= 'READ MORE'
          else
            h3= collections.posts.length
            h3 there ain't no posts here, man
  div(class='footer-section' align='center')
    p Copyright © 2015 E-Fever Limited All rights reserved.

















